<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Quản trị hệ thống</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<p class="text-center fs-3 mt-4">Bảng điều khiển quản trị</p>
			<div class="row p-5">
				<div class="col-md-4 mt-2">
					<a href="/admin/loadAddRoom" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-square-plus fa-3x"></i>
								<h4>Thêm phòng trọ</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-2">
					<a href="/admin/roomtype" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-warning">
								<i class="fa-solid fa-list fa-3x"></i>
								<h4>Quản lý loại phòng</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-2">
					<a href="/admin/rooms" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-success">
								<i class="fa-solid fa-bed fa-3x"></i>
								<h4>Danh sách phòng trọ</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-4">
					<a href="/admin/orders" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-info">
								<i class="fa-solid fa-file-contract fa-3x"></i>
								<h4>Quản lý đơn thuê trọ</h4>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>
</body>
</html>